body {
  background: rgb(224, 224, 224);
}

* {
  box-sizing: border-box;
  font-family: monospace;
}

.small {
  font-size: 0.5rem;
}

.bold {
  font-style: italic;
}

.border-bottom {
  border-bottom: 4px solid black;
}
.red-border {
  border-color: rgba(255, 0, 0);
}
.green-border {
  border-color: rgb(0, 255, 0);
}

.subtext {
  font-size: 80%;
}

.clickable {
  color: blue;
}

input {
  width: 300px;
  height: 40px;
  padding: 12px;
  outline: none;
  border: none;
}
