body {
  background: white;
}

* {
  box-sizing: border-box;
  font-family: monospace;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

em {
  line-height: 200%;
  font-family: Helvetica;
  font-style: inherit;
  font-size: 100%;
}
.blue {
  color: blue;
}
.full-bleed {
  width: 100vw;
  height: 100vh;
}

.canvas-border canvas, .black-border {
  border: 1px solid black;
}

.border-bottom {
  border-bottom: 4px solid black;
}
.red-border {
  border-color: rgba(255, 0, 0);
}
.green-border {
  border-color: rgb(0, 255, 0);
}

.subtext {
  font-size: 80%;
}

.padded {
  padding: 1em;
}

ul, ol {
  padding-left: 2em;
}

.clickable {
  color: blue;
  cursor: pointer;
  border: 1px solid #eee;
  padding: 6px;
  border-radius: 4px;
}

.stack {
  display: flex;
  flex-direction: column;
  
}
.stack > * + *{
  padding-top: 1em;
  margin-top: 1em;
}

.stack.border > * + * {
  border-top: 1px dotted gray;
}

.stack.small > * + * { 
  padding-top: 0.5em;
  margin-top: 0.5em;
}

.stack.large > * + * {
  padding-top: 5em;
  margin-top: 5em;
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.horizontal-stack > * {
  display: inline-flex;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.side-by-side > * {
  flex-basis: 600px;
}

.side-by-side .sticky {
  position: sticky;
  top: 0px;
  left: 0px;
  align-self: flex-start;
}

.padded .sticky {
  top: 1em;
  left: 1em;
}
.floating-button {
  position: absolute;
  top: 1em;
  right: 1em;
}
.become-visible {
  animation-name: fadein;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
input {
  width: 300px;
  height: 40px;
  padding: 0.5em;
  outline: none;
  border: none;
  border: 1px solid rgb(240, 240, 250);
}
